* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --kleurGeel: #ffe600;
    --kleurWit: #f5f5f5;
    --kleurLichtgrijs: #d3d3d3;
    --kleurDonkergrijs: #4a4a4a;
} 

html {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

ol, ul {
    list-style: none;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
    color: var(--kleurGeel);
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color:#ffffff;
    font-style: italic;
    margin: 1rem 0;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

h4 {
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

p {
    line-height: 1.75rem;
    margin: 1rem 0;
}

.cursive {
    font-style: italic;
    font-weight: 300;
}

main,
footer {
    position: relative;
    top: 6.3125rem; 
}

.anchor {
    display: block;
    position: relative;
    top: -6.3125rem;
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    main,
    footer {
        top: 4.3125rem; 
    }

    .anchor {
        top: -4.3125rem;
    }
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: #4a4a4a;
    border-bottom: solid 1px var(--kleurGeel);
    top: 0px;
    left: 0px;
    z-index: 1000;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 5rem;
    border-radius: 50%;
    border: 1px solid var(--kleurGeel);
    margin: 0.5rem;
    margin-left: 1rem;
}

header .icon {
    width: 2.5rem;
    position: relative;
    top: 0.25rem;
}

header nav ul {
    display: flex;
    align-items: baseline;
    padding-right: 1rem;
}

nav li a {
    padding-left: 3.5rem;
    text-decoration: none;
    color: var(--kleurWit);
}


header .mobile-menu,
header .mobile-menu-button{
    display: none;
}

header .mobile-menu {
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 305px;
    background-color: var(--kleurDonkergrijs);
    border-bottom: 1px solid var(--kleurGeel);
}

.mobile-menu-button {
    width: 2rem;
    height: auto;
    margin-right: 1.5rem;
}

.mobile-menu nav {
    padding: 1rem;
}
.menu-button {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    nav li a {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    header .logo {
        width: 3rem;
    }

    header .desktop-menu {
        display: none;
    }

    header .mobile-menu-button {
        display: block;
    }

    header .content {
        flex-flow: row;
    }
    
    header nav ul {
        flex-direction: column;
        padding-right: 0;
        align-items: center;
    }

    header .icon {
        width: 3rem;
    }

    nav li a {
        padding-left: 0;
        font-size: 1.5rem;
        line-height: 4rem;
    }
}

@media (hover: hover) {
    nav li a:hover {
        color: var(--kleurGeel);
    }
}

/* Banner */

.banner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(74, 74, 74, 0.4), rgba(74, 74, 74, 0.4)), 
                    url("./resources/skatecentrale_background_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
}

.banner {
    position: relative;
    left: 10%;
    margin-right: 10rem;
}

@media only screen and (max-width: 768px) {
    .banner-container {
        background-attachment: scroll;
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        color: #ffffff;
    }

    .banner-container {
        height: 300px;
        align-items: center;
        background-image: linear-gradient(rgba(74, 74, 74, 0.4), rgba(74, 74, 74, 0.4)),
                        url("./resources/skatecentrale_background_image_small.jpeg");
    }

    .banner {
        position: static;
        margin: 1.2rem;
    }
}

/* Skateboardles & Visie */

.content {
    display: flex;
    width: 100%;
}

.text {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    min-width: 30%;
    flex: 1 1 300px;
    background-color: var(--kleurLichtgrijs);
}

#les .image-container,
#visie .image-container {
    width: 70%;
    flex: 4 2 700px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#les .button {
    border-radius: 4px;
    background-color: var(--kleurDonkergrijs);
    color: white;
    padding: 0.75rem;
    text-align: center;
    width: 8rem;
    cursor: pointer;
}

#les .button:hover {
    background-color: #686868;
}

#les .button:active {
    transform: scale(0.97);
}

@media only screen and (max-width: 600px) {
    #les .content {
        flex-flow: column-reverse;
    }
    #visie .content {
        flex-flow: column;
    }

    .text {
        flex: none;
    }

    #les .image-container,
    #visie .image-container {
        width: 100vw;
        height: 100vh;
        flex: 0 0 0;
    }

    .button-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

}
/* Team */

.team_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team_container .image-container {
    width: 300px;
    height: auto;
}

.teamlid {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
    border: 1px solid var(--kleurGeel);
}

.teamlid p {
    margin: 1rem 0;
    line-height: 1rem;
}

@media only screen and (max-width: 600px) {
    .team_container .image-container {
        height: 200px;
    }

    .team_container .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .stephan {
        object-position: top;
    }

    .jasper {
        object-position: 50% 30%;
    }

    .thomas {
        object-position: 50% 18%;
    }
}

/* Footer */

#contact {
    text-align: center;
    background-color: var(--kleurLichtgrijs);
    padding: 1.5rem;
}
footer .content {
    justify-content: center;
    color: #ffffff;
    background-color: var(--kleurDonkergrijs);
    font-weight: 300;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 0.75rem;
}

.mail {
    margin: 0;
}


